.title{
    border-bottom: 2px solid rgb(228, 228, 228);
    &-img{
        flex: 0 0 15% !important;
    }
    &-name{
        flex: 0 0 40% ;
    }
    &-price{
        flex: 0 0 15% ;
    }
    &-qty{
        flex: 0 0 25% ;
    }
    &-img{
        flex: 0 0 10% ;
    }
}