// .buy button{background-color: #0B1564}
.secondary-img{
    height: 70px;
}

.inputQty{
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
    }
}